/* esercizio 1 */
.ex-1-square {
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* esercizio 2 */
.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* esercizio 3 */
.ex-3-square {
    transition: border-radius 1s;
}

.ex-3-square:hover {
    border-radius: 100%;
}

/* esercizio 4 */
.ex-4-square {
    transition: all 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* esercizio 5 */
.ex-5-square {
    transition: all 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}

/* esercizio 7 */
.ex-7-img {
    transition: all 2s;
}

.ex-7-img:hover {
    filter: sepia(60%) grayscale(40%);
}

/* esercizio 8 */
.ex-8-img {
    transition: all 2s;
}

.ex-8-img:hover {
    border-radius: 20px;
    filter: sepia(60%) grayscale(40%);
}

/* esercizio 9 */
.ex-9-img {
    transition: all 2s;
}

.ex-9-img:hover {
    border-radius: 20px;
    filter: sepia(60%) grayscale(40%);
    transform: scale(1.5);
}

/* esercizio 10 */
.ex-10-icon {
    animation: rotate-anticlockwise 1s linear infinite;
}

@keyframes rotate-anticlockwise {
    0%  {
      transform: rotate(360deg);
   }
 }
 
 /* esercizio 11 */
 .ex-11-icon:hover {
    animation: rotate 2s linear;
 }

 @keyframes rotate {
    0%  {
        transform: rotate(0);
     }
    75% {
        transform: rotate(270deg);
    }
}

/* esercizio 12 */
.ex-12-button:hover .ex-12-top-white{
    animation: topwhitemove12 2s linear;
 }

 @keyframes topwhitemove12 {
    0% {
        left: 10%; /* perchè l'elemento parte da left:10% */
    }
    50% {
        left: calc(100% - 60px) /* fine bordo - width elemento:60px */
    }
    100% {
        left: 10%; /* l'elemento deve tornare al pto di partenza */
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: bottomwhitemove12 2s linear;
 }

 @keyframes bottomwhitemove12 {
    0% {
        right: 20%; /* perchè l'elemento parte da right:20% */
    }
    50% {
        right: calc(100% - 60px) /* fine bordo - width elemento:60px */
    }
    100% {
        right: 20%; /* l'elemento deve tornare al pto di partenza */
    }
}

/* esercizio 13 */
.ex-13-button:hover .ex-13-top-white{
    animation: topwhitemove13 2s linear;
 }

 @keyframes topwhitemove13 {
    0% {
        top: -10px;
        left: 10%;
    }
    30% {
        top: -10px;
        left: calc(100% - 30px);
    }
    45% {
        top: 90%;
        left: calc(100% - 30px);
    }
    75% {
        top: 90%;
        left: -20px;
    }
    90% {
        top: -10px;
        left: -20px;
    }
    100% {
        top: -10px;
        left: 10%;
    }
 }  

 .ex-13-button:hover .ex-13-bottom-white{
    animation: bottomwhitemove13 2s linear;
 }

 @keyframes bottomwhitemove13 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        bottom: -10px;
        right: calc(100% - 30px);
    }
    45% {
        bottom: 90%;
        right: calc(100% - 30px);
    }
    75% {
        bottom: 90%;
        right: -20px;
    }
    90% {
        bottom: -10px;
        right: -20px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
 }  